<template>
  <div class="slds-var-m-vertical_small">
    <template if:true={errorMessages.length}>
      <div class="slds-box slds-box_xx-small">
        <div class="slds-grid slds-wrap">
          <div
            class="
              slds-large-size_1-of-12
              slds-medium-size_1-of-8
              slds-small-size_1-of-5
              slds-align_absolute-center
            "
          >
            <lightning-icon
              icon-name="utility:error"
              variant="error"
              size="medium"
            ></lightning-icon>
          </div>
          <div
            class="
              slds-large-size_11-of-12
              slds-medium-size_7-of-8
              slds-small-size_4-of-5
              slds-var-p-around_medium
            "
          >
            <div class="slds-col slds-align-middle">
              <template for:each={errorMessages} for:item="message">
                <p class="slds-text-body_regular" key={message}>{message}</p>
              </template>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>
