# Unique name for this workflow
name: CI

# Definition when the workflow should run
on:
  workflow_dispatch:
  push:
    branches:
      - main

# Jobs to be executed
jobs:
  format-lint-lwc-tests:
    runs-on: ubuntu-latest
    steps:
      # Checkout the source code
      - name: "Checkout source code"
        uses: actions/checkout@v2

      # Install npm dependencies for Prettier and Jest
      - name: "Install npm dependencies"
        run: npm ci && npm run ci:postinstall

      # Prettier formatting
      - name: "Code formatting verification with Prettier"
        run: npm run prettier:verify

      # Lint LWC
      - name: "Lint Lightning Web Components"
        run: npm run lint

      # LWC unit tests
      - name: "Unit test Lightning Web Components"
        run: npm run test:unit:coverage

      # Upload code coverage data
      - name: "Upload code coverage for LWC to Codecov.io"
        uses: codecov/codecov-action@v2.0.2
        with:
          flags: LWC
